{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock title %}

{% block content %}
  <div class="container-fluid mt-4">
    <div class="card-deck mb-3 justify-content-center "
         id="account-balance-container">
      <!--Cards-->
      <div class="card border-light mb-3"
           style="max-width: 18rem">
        <div class="card-header text-center text-light font-weight-bold bg-primary">ACCOUNT BALANCE</div>
        <div class="card-body">
          <h3 class="card-title text-center"
              id="account-balance">{{ "${:,.2f}".format(user.account_balance) }}</h3>
          <p class="card-text text-center text-success">{{ "{:.2f}".format(user.get_account_growth_percent()*100) }}%</p>
        </div>
      </div>
      <div class="card border-light mb-3"
           style="max-width: 18rem">
        <div class="card-header text-center text-light font-weight-bold bg-primary">EQUITY</div>
        <div class="card-body">
          <h3 class="card-title text-center"
              id="equity">{{ "${:,.2f}".format(user.get_equity()) }}</h3>
          <p class="card-text text-center text-success">{{ "{:.2f}".format(user.get_equity_growth_percent()*100) }}%</p>
        </div>
      </div>
      <div class="card border-light mb-3"
           style="max-width: 18rem">
        <div class="card-header text-center text-light font-weight-bold bg-primary">BUYING POWER</div>
        <div class="card-body">
          <h3 class="card-title text-center"
              id="buying-power">{{ "${:,.2f}".format(user.get_margin_available()) }}</h3>
        </div>
      </div>
      <div class="card border-light mb-3"
           style="max-width: 18rem">
        <div class="card-header text-center text-light font-weight-bold bg-primary">REALIZED GAIN/LOSS</div>
        <div class="card-body">
          <h3 class="card-title text-center"
              id="realized-gain">{{ "${:,.2f}".format(user.get_realized_gain()) }}</h3>
        </div>
      </div>
      <div class="card border-light mb-3"
           style="max-width: 18rem">
        <div class="card-header text-center text-light font-weight-bold bg-primary">UNREALIZED GAIN/LOSS</div>
        <div class="card-body">
          <h3 class="card-title text-center"
              id="unrealized-gain">{{ "${:,.2f}".format(user.get_unrealized_gain()) }}</h3>
        </div>
      </div>
    </div>
    <!-- Open Positions -->
    <div class="mb-3"
         id="portfolio">
      <h5 >
        Recent Trades <small class="ml-3"></small>
      </h5>
      {% if open_trades|length == 0 %}
        <p class="mb-5">There are no open trades.</p>
      {% else %}
        <table class="table"
               id="portfolio-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Timestamp</th>
              <th scope="col"
                  class="text-center">Symbol</th>
              <th scope="col"
                  class="text-center">Type</th>
              <th scope="col"
                  class="text-center">Quantity</th>
              <th scope="col"
                  class="text-center">Entry Price</th>
              <th scope="col"
                  class="text-center">Current Price</th>
              <th scope="col"
                  class="text-center">Unrealized P/L</th>
              <th scope="col"
                  class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for trade in open_trades %}
              <tr>
                <td>{{ trade.id }}</td>
                <td>{{ trade.get_date("entry") }}</td>
                <td class="text-center">{{ trade.symbol.upper() }}</td>
                <td class="text-center">
                  {{ trade.trade_type }}
                </td>
                <td class="text-center">
                  {{ trade.qty }}
                </td>
                <td class="text-center">
                  {{ trade.entry_price }}
                </td>
                <td class="text-center">
                  {{ trade.latest_price }}
                </td>
                <td class="text-center">
                  {{ trade.get_pnl() }}
                </td>
                <td class="text-center">
                  <button id="trade-exit-btn" class="btn btn-danger btn-sm" data-trade-id={{ trade.id }}>Close
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div id="closed-positions">
      <h5>
        Closed Positions
      </h5>
      {% if open_trades|length == 0 %}
        <p class="mb-5">
          There are no closed positions.
        </p>
      {% else %}
        <!-- Closed Positions -->
        <table class="table"
               id="closed-trades-table">
          <thead>
            <tr>
              <th scope="col">
                ID
              </th>
              <th scope="col">
                Timestamp
              </th>
              <th scope="col"
                  class="text-center">
                Symbol
              </th>
              <th scope="col"
                  class="text-center">
                Type
              </th>
              <th scope="col"
                  class="text-center">
                Quantity
              </th>
              <th scope="col"
                  class="text-center">
                Entry Price
              </th>
              <th scope="col"
                  class="text-center">
                Exit Price
              </th>
              <th scope="col"
                  class="text-center">
                Realized P/L
              </th>
            </tr>
          </thead>
          <tbody id="tbody-closed-trades">
            {% for trade in closed_trades %}
              <tr>
                <td>
                  {{ trade.id }}
                </td>
                <td>
                  {{ trade.get_date("entry") }}
                </td>
                <td class="text-center">
                  {{ trade.symbol.upper() }}
                </td>
                <td class="text-center">
                  {{ trade.trade_type }}
                </td>
                <td class="text-center">
                  {{ trade.qty }}
                </td>
                <td class="text-center">
                  {{ trade.entry_price }}
                </td>
                <td class="text-center">
                  {{ trade.latest_price }}
                </td>
                <td class="text-center">
                  {{ trade.get_pnl() }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock content %}
