{% extends "base.html" %}

{% block title %}
  Signup to StockSim
{% endblock title %}

{% block content %}
  <div class="container col-3 mt-5">
    <form method="POST">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != "hidden" %}
        <div class="form-group">
          {{ field(placeholder=field.label.text, class="form-control form-control-lg") }}
          {% for err in field.errors %}<small class="text-danger">{{ err }}</small>{% endfor %}
        </div>
      {% endfor %}
      <div class="form-group text-center">
        <button class="btn btn-primary btn-lg mt-3">Signup</button>
      </div>
    </form>
  </div>
{% endblock content %}
