{% extends "base.html" %}

{% block title %}
  Watchlist: {{ watchlist.name }}
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <!--Watchlist Header and Buttons-->
    <div class="row mb-3">
      <div class="col-6">
        <p class="display-4 mb-1">{{ watchlist.name }}</p>
        <p class="text-secondary ml-1">{{ watchlist.description }}</p>
      </div>
      <div class="col-6 align-self-center text-right">
        <button class="btn btn-info btn-sm mr-2 px-3"
                data-toggle="modal"
                data-target="#createWatchlistModal">Edit</button>
        <button class="btn btn-danger btn-sm"
                data-toggle="modal"
                data-target="#deleteWatchlist">Delete</button>
        {% include "delete_confirmation.html" %}
      </div>
    </div>
    <!--Edit Watchlist Modal-->
    {% include "create_watchlist_modal.html" %}
    <!--Add stock-->
    <div class="mb-3">
      <div>
        <form class="form-inline"
              action="">
          <input type="text" data-watchlist-id={{ watchlist.id }} placeholder="Symbol" class="form-control mr-3" id="stock-input" maxlength="10">
          <button class="btn btn-primary px-4"
                  id="add-stock-btn">Add</button>
        </form>
      </div>
      <small id="stock-error"
             class="text-danger mt-0 ml-1"
             style="display:none">Error adding stock</small>
    </div>
    <!--Watchlist Stock Table-->
    {% if not stocks %}
      <p id="no-stock-text" class="mb-5">There are no stocks in the watchlist.</p>
      {% set table_show = "display: none" %}
    {% endif %}
    <table id="stocks-table"
           class="table table-hover" style={{ table_show }}>
      <thead>
        <tr>
          <th scope="col"
              class="text-center">Symbol</th>
          <th scope="col"
              class="text-center">Name</th>
          <th scope="col"
              class="text-center">Latest Price</th>
          <th scope="col"
              class="text-center">Trade</th>
          <th scope="col"
              class="text-center">Remove</th>
        </tr>
      </thead>
      <tbody class="watchlist-table">
        {% if stocks %}
          {% for stock in stocks %}
            <tr data-stock-id={{ stock["id"] }} data-watchlist-id={{ watchlist.id }}>
              <td class="text-center">{{ stock["symbol"] }}</td>
              <td class="text-center">{{ stock["name"] }}</td>
              <td class="text-center">{{ stock["price"] }}</td>
              <td class="text-center">
                <button class="btn btn-primary btn-sm">Trade</button>
              </td>
              <td class="text-center">
                <button class="btn btn-danger btn-sm remove-stock-btn">Remove</button>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{{url_for('.static', filename='delete_watchlist.js')}}"
          type="module"></script>
  <script src="{{url_for('.static', filename='add_stock.js')}}"
          type="module"></script>
  <script src="{{url_for('.static', filename='remove_stock.js')}}"
          type="module"></script>
{% endblock scripts %}
